.border-color-green {
    border-color: $green !important;
}

.border-color-lighter-green {
    border-color: $lighter-green !important;
}

.border-color-white {
    border-color: white !important;
}

.border-color-grey {
    border-color: $grey !important;
}

.border-color-light-grey {
    border-color: $light-grey !important;
}
