.orange-background {
    background: $orange;
}

.darkgreen-background {
    background: $darkgreen;
}

.darkblue {
    color: $logo-color;
}
.darkblue-background  {
    background: $logo-color;
}

.orange {
    color: $orange;
}
