.dashboard-home-icon {
    background-image: url("assets/svg/home.svg");
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}
.dashboard-wallet-icon {
    background-image: url("assets/svg/wallet (2).svg");
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}
.dashboard-question-icon {
    background-image: url("assets/svg/iconmonstr-help-3.svg");
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}
.dashboard-message-icon {
    background-image: url("assets/svg/envelope.svg");
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}
.dashboard-settings-icon {
    background-image: url("assets/svg/iconmonstr-gear-2.svg");
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}

.dashboard-notification-icon {
    background-image: url("assets/svg/notification.svg");
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.dashboard-nav-icon {
    height: 5px;
    width: 40px;
    background: black;
}
.dashboard-sidebar {
    border-top-right-radius: 25px;
}

.dashboard-home-chat-box {
    border-radius: 10px;
    background-color: white;
    padding-right: 150px;
}
.dashboard-image-icon{
    background-image: url("assets/svg/question (2).svg");
    height: 200px;
    width: 200px;
    padding-left: 60px;
    background-repeat: no-repeat;
}
.dashboard-attachment-icon {
    background-image: url("assets/svg/attachment.svg");
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
}
.dashboard-send-icon {
    background-image: url("assets/svg/send.svg");
    height: 34px;
 
    width: 34px;
    background-repeat: no-repeat;
}

.dashboard-smile-icon {
    background-image: url("assets/svg/smile.svg");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}
.dashboard-top-icon {
    background-image: url("assets/images/testimonial-1.jpg");
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
