.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    // background-color: rgba(0, 0, 0, 0.3);
    background: rgba(32, 28, 48, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.modal {
    background: #ffffff;
    box-shadow: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    // padding: 20px 10px;
    padding: 10px;
    border: none;
    outline: none;
    // width: 420px;
}
