.experts-page-top-background-image {
    background-image: url("assets/images/expert.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    // background-attachment: fixed;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.experts-page-top-background-image-content {
    padding-top: 60px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.58);
    min-height: auto; /* You must set a specified height */
     
}
