.container {
    font-size: 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    // min-height: 300px;
    // // background: $off-white;
    //background: white;
}
.container-100{
    width: 100%;
    max-width: 100px;
  
}
.container-250 {
    width: 100%;
    max-width: 250px;
}

.container-360 {
    width: 100%;
    max-width: 360px;
}

.container-450 {
    width: 100%;
    max-width: 450px;
}

.container-550 {
    width: 100%;
    max-width: 550px;
}

.container-650 {
    width: 100%;
    max-width: 650px;
}

.container-750 {
    width: 100%;
    max-width: 750px;
}

.container-850 {
    width: 100%;
    max-width: 850px;
}
.container-950 {
    width: 100%;
    max-width: 950px;
}

.container-1000 {
    width: 100%;
    max-width: 1000px;
}

.width-100 {
    width: 100%;
    max-width: 250px;
}
