.visibility-show-for-mobile {
  @media (min-width: $desktop-breakpoint) {
    display: none;
  }
}

.visibility-show-for-desktop {
  @media (max-width: $desktop-breakpoint - 0.16px) {
    display: none;
  }
}
