.home-top-background-image {
    
    background-image: url("assets/images/head.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    // background-position: center; /* Center the image */
    // background-attachment: fixed;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.home-top-background-image-content {
    padding-top: 60px;
    width: 100%;
    height: 100%;
    min-height: auto; /* You must set a specified height */
    background: rgba(0, 0, 0, 0.58);
    // @media (min-width: $desktop-breakpoint) {
    //     padding-top: 190px;
    //     min-height: 760px; /* You must set a specified height */
    // }

    .show-for-mobile {
        display: flex;
    }
    @include media-breakpoint-up(md) {
        padding-top: 190px;
        min-height: 760px; /* You must set a specified height */
        .show-for-mobile {
            display: none;
        }
    }
}

.home-testimonial-row-1-image {
    width: 100%;
    height: 100%;
    min-height: 560px; /* You must set a specified height */
    background-image: url("assets/images/testimonial-1.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    // background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.home-testimonial-row-2-image {
    width: 100%;
    height: 100%;
    min-height: 560px; /* You must set a specified height */
    background-image: url("assets/images/testimonial-2.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    // background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.home-testimonial-row-3-image {
    width: 100%;
    height: 100%;
    min-height: 560px; /* You must set a specified height */
    background-image: url("assets/images/testimonial-3.jpeg");
    background-color: #cccccc; /* Used if the image is unavailable */
    // background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.row-2-icon {
    width: 25px;
    @include media-breakpoint-up(md) {
        width: 50px;
    }
}

.invert-for-desktop {
    img {
        width: 50px;
    }
    @include media-breakpoint-up(md) {
        text-align: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 80px;
        }
    }
}
